
@{
    ViewData["Title"] = "Secured";
}

<h1>Secured</h1>

<h2>@User.Identity.Name </h2>
<ul>
    @foreach(var c in User.Claims)
    {
           <li>@c.Type : @c.Value</li>   
    }

</ul>
<h2>
    @TempData["message"]
    <br/>
    @ViewData["token_id"]
</h2>
