@model IEnumerable<Lesson3App1.Models.Employee>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.empID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.firstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.empID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                    ViewDataCount:
                </td>
                <td>
                    @ViewData["EmpCount"]
                </td>
            </tr>

            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                    ViewBagCount:
                </td>
                <td>
                    @ViewBag.EmpCount
                    @*empList=ViewData["Empployees"] as List<Employee>*@
                </td>
            </tr>

            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                    TempdataCount:
                </td>
                <td>
                    @TempData["EmpCount"]
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
